.big {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-family: var(--font-family-tin);
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  margin-top: 30px;
  margin-right: 50px;

  color: #F8E4BE;
  background: rgba(247, 225, 188, 0.1);

  border: 2px solid #E0A872;
  border-radius: 49px;
  box-shadow: 0px 4px 4px 0px #00000040;

  padding: 12px 36px;
 
  &:hover {
    background: rgba(247, 225, 188, 0.3);
  }

  @media (max-width: 1900px) {
    padding: 0px;
    font-size: 30px;
    padding: 12px 36px;
    line-height: 30px;
    border: 2px solid;
    margin-right: 40px;
  }

  @media (max-width: 1199px) {
    font-size: 28px;
    padding: 12px 10px;
    line-height: 10px;
    border: 1px solid;
    margin-top: 20px;
    margin-right: 10px;
  }


  @media (max-width: 820px) {
    font-size: 20px;
  }

  @media (max-width: 576px) {
    width: 100px;
    font-size: 10px;
    line-height: 0px;
    margin-right: 5px;
  }

  @media (max-width: 375px) {
    width: 80px;
    margin-right: 0px;
  }
}

.medium {
  font-family: var(--font-family-tin);
  font-size: 30px; 
  margin-right: 10px;

  color: #F8E4BE;
  background: rgba(247, 225, 188, 0.1);

  border: 2px solid #E0A872;
  border-radius: 49px;
  box-shadow: 0px 4px 4px 0px #00000040;

  padding: 12px 36px;
 
  &:hover {
    background: rgba(247, 225, 188, 0.3);
  }

  @media (max-width: 1900px) {
    padding: 6px 10px;
  }

  @media (max-width: 1199px) {
    font-size: 28px;
    padding: 12px 10px;
    line-height: 10px;
    border: 1px solid;
    margin-top: 20px;
    margin-right: 10px;
  }
}

.small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-tin);
  font-size: 26px;
  line-height: 30px;

  color: #F8E4BE;
  background: rgba(247, 225, 188, 0.1);

  border: 2px solid #E0A872;
  border-radius: 49px;
  box-shadow: 0px 4px 4px 0px #00000040;


  padding: 12px 36px;
 
  &:hover {
    background: rgba(247, 225, 188, 0.3);
  }

  @media (max-width: 820px) {
    font-size: 20px;
    width: 150px;
    padding: 12px 24px;   
    line-height: 10px;
    border: 1px solid;
    justify-self: center;
  }
}