@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Tinos&display=swap');
:root {
  --font-family-tin: 'Tinos', serif;
  --font-family-danc: 'Dancing Script', cursive;
  --content-width: 1182px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --font-size: 24px;

  // colors
  --light-color: #fff;
}
