.item {
  width: 100%;
  min-width: 285px;
  height: 480px;
  max-width: 380px;
  background: rgba(173, 113, 74, 0.35);
  backdrop-filter: blur(2px);
  border-radius: 35px;

  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.img {
  object-fit: contain;
  height: 380px;
}

.title {
  font-family: 'Leiko';
  font-style: normal;
  font-size: 35px;
  line-height: 31px;
  color: #F8E4BE;
  text-align: center;
}

.price {
  position: relative;
  font-family: 'Dancing Script';
  font-size: 30px;
  color: #F8E4BE;
  align-self: end;
  right: 20px;
}