.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  padding: 10px 34px;
  margin: 0 auto;
  
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;

  @media (max-width: 375px) {
     padding: 10px 10px;
  }
}

.logo {
  img {
    max-width: 100px;
  }
  @media (max-width: 1199px) {
    img {
      max-width: 72px;
    }
  }

  @media (max-width: 820px) {
    img {
      max-width: 52px;
    }
  }

  @media (max-width: 576px) {
    img {
      max-width: 32px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  @media (max-width: 820px) {
    display: none;
  }
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav_link {
  color: #FFF8E8;
  font-family: var(--font-family-tin);
  font-size: 24px;
}
