.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  padding: 10px 34px;
  margin: 0 auto;
  
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  
}

.logo {
  img {
    max-width: 72px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav_link {
  color: #FFF8E8;
  font-family: var(--font-family-tin);
  font-size: 24px;
}
